.bg-color{
    background-color: rgb(204, 237, 204);
 }
 .card{
     background-image: linear-gradient(darkgreen,lightgreen);
 }
 :hover.card{
     transform:scale(1.08);
     cursor: pointer;
 }
 :hover.btn{
    background-color:cornflowerblue;
    color: black;
     font-weight: bolder;
    border-color: cornflowerblue;
 }
 .chg-clr {
     font-weight: bold;
 }
 :hover.chg-clr{
     color: magenta;
     text-decoration: underline;
  }
  .card-title{
     font-weight: bold;
     font-size: large;
 }
  :hover.card-body{
     text-decoration: underline;
 }