
.navbar {
    background-color:hotpink;
    margin-bottom:0 ;
    background-image: url(https://th.bing.com/th/id/OIP.MoStziJiEd41Z91mTD6VZgHaFj?w=248&h=186&c=7&r=0&o=5&dpr=1.5&pid=1.7); 
}
.navbar-brand{
    color:black;
    font-family:cursive;
    font-weight: bolder;
}
:hover.navbar-brand{
    color:brown ;
    cursor: pointer;;
}
.foo-color{
  background-color: darkblue;
  color: aliceblue;
 height: 70px;
 padding: 20px;
}
.nav-link{
    color: indigo;
    font-weight: bold;
}
:hover.nav-link{
    color:darkmagenta
}
:hover.text-center{
    text-decoration: underline;
}